  @font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;700&display=swap');
  }
article.node--type-blog.node--view-mode-full:not(.node--view-mode-teaser) {
  font-size: 13px;
  header {
    display: none;
  }
  
  .node__content {
    margin: 0;
    >.layout--onecol {
      padding-bottom: 100px;
      .layout__region {
        position: relative;

        .block-system-breadcrumb-block{
          position: absolute;
          bottom: 5px;
          left: 15px;
          ol{
            list-style: none;
            margin: 0;
            padding:0;
          }
          a{
            text-decoration: none;
            color: #B3B3B3; 
            text-transform: uppercase;
            font-weight: bold;
          }
          @media all and(min-width: $tablet) {
            bottom: 10px;
            left: 30px;
            a{
              font-size: 14px;
            }
          }
          @media all and(min-width: $desktop) {
            bottom: 15px;
            left: 50px;
            a{
              font-size: 14px;
            }
          }
        }
        .block-field-blocknodeblogfield-rls-blog-header-image {
          background-color: #19191b;
          img {
            max-width: 100%;
            height: 250px;
            object-fit: cover;
            display: block;
            opacity: 0.2;
            @media all and (min-width: $tablet){
              height: 300px;
            }
            @media all and (min-width: $desktop) {
              height: 450px;
            }
          }
        }
        .content{
          text-align: center;
        }
   
        .block-field-blocknodeblogtitle {
          position: absolute;
          top: 50%;
          margin: auto;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          span {
            color: white;
            text-transform: uppercase;
            font: {
              size: 24px;
              weight: bold;
            }
          }
          @media all and (min-width: $tablet){
            span{
              font-size: 40px;
            }
          }
          @media all and (min-width: $desktop){
            span{
              font-size: 40px; 
            }
          }
        }
      }
    }

    // Content Region
    >.layout--twocol-section {
      
      @media all and (min-width: $tablet){
        display: block;
      }
      @media all and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
      }
      .layout__region {
        // Content Left\
    
        &--first {
          padding: 0 15px;
          @media all and (min-width:$desktop) {
            padding: 0 40px;            
          }
          .block-field-blocknodeblogfield-rls-blog-article-image {
            img {
              max-width: 100%;
              height: auto;
              padding-bottom: 30px;
            }
          }
          .block-field-blocknodeblogfield-rls-blog-body {
            line-height: 1.4;
            p {
              color: #606060;
              margin-bottom: 30px;
            }
          }
          .block-field-blocknodeblogtitle{
            span{
              font-size: 25px;
              font-weight: bold;
              border-left: 4px solid #95C41F;
              padding-left: 10px;
              display: block;
              padding-bottom: 15px; 
            }
          }
          .block-field-blocknodeblogcreated{
            span{
              border-left: 4px solid #95C41F;
              padding-left: 10px;
            }
          }
          .field--name-field-rls-blog-body {
            blockquote{
              border-left: 4px solid #95C41F;
              padding:10px 35px;
              background-color: #FAFAFA;
              margin:0 15px;
              margin-bottom: 30px;
              position: relative;
            }
            blockquote p::after{
              content: ",,";
              font-size: 40px;
              position: absolute;
              right: 45px;
              bottom:25px;
            }
          }
          .block-field-blocknodeblogrevision-uid{
            article{
              display: flex;
              padding-bottom: 40px;
              border-bottom: 4px solid #95C41F;
              color: #606060;
            }
            img{
              width: 30px;
              height: 30px;
              border:1px solid lightgrey;
            }
            .field--name-field-rls-user-description{
              padding: 5px 15px;
            }
            @media all and (min-width:$tablet) {
              img{
                width: 90px;
                height: 80px;
              }
            }
          }
          .block-field-blocknodeblogfield-rls-blog-terms{
            .content{
              display: flex;
              font-weight: bold;
            }
            .field__item {
              margin: 0 5px;
            }
            a{
              text-decoration: none;
              color: #606060;
            }
            .field__items{
              display: flex;
            }
            @media all and (min-width:$tablet) {
              .field__item a {
                &:hover {
                  color: #95C41F;
                  transition: 0.5s;
                }
              }
            }
          }
        }
        // Content Right
        &--second {
          padding: 0 15px;
          @media all and (min-width:$desktop) {
            padding: 0 40px;            
          }
          .block-broken{
            h2{
              display: none;
            }
          }
          .block-search-form-block{
            .container-inline{
              position: relative;
              width: 100%;
              margin-bottom: 30px ;
            }
            form{
              width: 100%;
            }
            fieldset{
              width: 100%;
              padding: 0;
              border: none;
            }
            input{
              width: 100%;
              height: 40px;
              border: 1px solid lightgray;
            }
            .form-actions{
              position: absolute;
              right: 0;
              bottom: 0;
            }
            .btn-primary{
              font-size: 0;
              height: 20px;
              width: 20px;
              background-color: transparent;
              border: none;
              background-image: url(https://toppng.com/uploads/preview/v1-5-icone-loupe-magnifier-icon-11553492847zmcxoxzp87.png);
              background-size: contain;
              padding: 0;
              margin: 10px;
            }
          }
          .block-views-blockrls-blog-term-view-block-1{
            h2{
              margin: 0;
              color: #303030;
              border-bottom: 1px solid #B3B3B3;
              padding-bottom: 10px;
            }
          }
          .views-row{
            color: #3B5265;
            display: flex;
            padding-top: 25px;
            padding-bottom: 5px;
            border-bottom: 1px solid #B3B3B3;
            justify-content: space-between;
            a{
              color: #3B5265;
              text-decoration: none;
            }
          }
          .view-content{
            padding-bottom: 50px;
          }
          .block-views-blockrls-blog-recent-post-block-1{
            h2{
              margin: 0;
              color: #303030;
              border-bottom: 1px solid #B3B3B3;
              padding-bottom: 10px;
            }
            .views-row{
              border-bottom: none;
              article{
                margin: 0;
              }
              .blog-teaser{
                display: flex;
                .blog-teaser__right{
                  padding-left: 10px;
                  font-size: 14px;
                  color: #606060;
                  .field--name-title {
                    font-weight: bold;
                  }
                  .field--type-text-with-summary{
                    p{
                      margin: 0;
                    }
                  }
                  @media all and (min-width:$tablet) {
                    .field--name-title:hover{
                      color: #95C41F;
                      transition: 0.5s;
                    }
                  }
                }
                .blog-teaser__left{
                  .field--type-image{
                    position: relative;
                    width: 101px;
                    height: 72px;
                      img{
                      position: absolute;
                      width: 101px;
                      height: 72px;
                      object-fit: cover;
                    }
                  }
                }
              }
            }
          }
          .block-search-form-block{
            h2{
              display: none;
            }
          }
          .node--type-blog.node--view-mode-teaser {
            .field--name-field-rls-blog-article-image {
              img {
                max-width: 100px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}