// Screen Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

#page *{
    font-family: 'Montserrat', sans-serif;
}