.header{
    @media all and (min-width:$tablet) {
        height: 150px;
    }
    .menu--main{
        background-color: #95c41f;
        @media all and (min-width:$tablet) {
            background-color: white;
        }
        .menu-main__responsive-btn{ 
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/2048px-Hamburger_icon_white.svg.png);
        }

        // Fixed position rules
        @media all and (min-width:$tablet) {
            &.fixed {
                top: 0;
                position: fixed;
                z-index: 1;
                width: 100%;
                .navbar-nav{
                    background-color: white;
                    transition: 1s;
                    .nav-item a{
                        color: black;
                    }
                }
            }
        }

        // Menu open rules
        &.expanded {
            .navbar-wrapper {
                display: block;
            }
            .menu-main__responsive-btn{ 
                background-image: url(https://icon-library.com/images/noun_project_100icon_1px_grid_thin_ic_x-512_17763.png);
            }
        }

        // Menu general and collapsed rules
        .menu-main__responsive-header{
            background-color: #95C41F;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            @media all and (min-width:$tablet) {
                display: none;
            }

            .menu-main__responsive-label{
                text-transform: uppercase;
                color: #FFFFFF;
                font-weight: bold;
                margin-left: 30px;
            }
            .menu-main__responsive-btn{
                height: 30px;
                width: 30px;
                padding: 0;
                margin-right: 30px;
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
        .navbar-wrapper {
            padding: 0 15px 15px 15px;
            box-sizing: border-box;
            display: none;
            @media all and (min-width:$tablet) {
                padding: 0;
                display: block;
            }
        }
        .navbar-nav{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: white;
            @media all and (min-width:$tablet) {
                background-color: #1F223E;
                display: flex;
                align-items: center;
                position: relative;
            }
            li{
                line-height: 35px;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    border-bottom: 1px solid lightgray;
                    @media all and (min-width:$tablet) {
                        border-bottom: none;
                    }
                    @media all and (min-width:$desktop) {
                        margin: 0 10px;
                    }
                }
            }
            .nav-item{
                a {
                    text-decoration: none;
                    color: #1F223E;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    @media all and (min-width:$tablet) {
                        color: white;
                    }
                    @media all and (min-width:$desktop) {
                        font-size: 14px;
                    }
                }
                @media all and (min-width:$tablet) {
                    a:hover{
                        color: #95C41F;
                        transition: 0.5s;
                    }
                }
            }
            @media all and (min-width:$tablet) {
                display: flex;
                justify-content: center;
            }
            .menu-item--expanded{
                display: flex;
                flex-direction: column;
                @media all and (min-width:$tablet) {
                     ul{
                         display: none;
                     }
                     &:hover {
                         ul {
                             display: block;
                         }
                     }
                }

                &.expanded{
                    padding: 0;
                    line-height: 56px;
                    a{
                        padding-left: 15px;
                    }
                    span{
                        padding-right: 15px;
                    }
                    @media all and (min-width:$tablet) {
                        position: relative;
                        padding: 0 15px;
                    }
                }
                span{
                    font-weight: bold;
                }
                .menu-parent-item{
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    span{
                        cursor: pointer;
                    }
                    @media all and (min-width:$tablet) {
                        a{
                            padding: 0;
                        }
                        span{
                            display: none;
                        }
                    }
                }
                .dropdown-menu{
                    display: none;
                    padding: 0;
                    &.expanded {
                        display: block;
                        width: 100%;
                        border-top: 1px solid lightgray;
                        ul{
                            position: absolute;
                            background-color: transparent;
                        }
                        a{
                            padding-left: 25px;
                            color: #606060;
                        }
                    }
                    @media all and (min-width:$tablet){
                        margin-left: 15px;
                        background-color: white;
                        width: 220px;
                        top: 56px;
                        left: 0;
                        position: absolute;
                        z-index: 55;
                        li{
                            margin: 0;
                            &:not(:last-child) {
                            border-bottom: 1px solid lightgray;
                            }
                            &:last-child{
                                border-bottom: 4px solid #95C41F;
                            }
                        }
                        a{
                            padding-left: 0;
                            color: black;
                        }
                        li:hover{
                            a{
                                color: #95C41F;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
}
.layout-main-wrapper{
    .block-page-title-block{
        display: none;
    }
}