{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class, 
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="blog-teaser">
    <div class="blog-teaser__left">
        {{ content.field_rls_blog_article_image }}
    </div>
    <div class="blog-teaser__right">
        <div class="teaser-heading"><a href="{{ url }}" rel="bookmark"> {{ label }}</a></div>
        <div class="teaser-date">{{ date }}</div>
        <div class="teaser-desc">{{ content.field_rls_blog_body }}</div>
    </div>
  </div>
</article>
