{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <h2>Condition</h2>

  <div class="contitions__content">
    <div class="conditions">
        <div class="condition-icon"></div>
        <div class="condition--bathroom">Bathroom {{ block_fields.bathroom}}</div>
    </div>
  </div>

</div>
